<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhin Khada</title>
</head>
<body>
    <h1> Hello world, bo m la Jhin from view</h1>
    <a href="/get-crud">Get all users</a>
    <a href="/crud">Create new user</a>
</body>
</html>