<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhin Khada</title>
</head>
<body>
    <h1> Hello world, bo m la Jhin from view</h1>
    <p><%=data %></p>
    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/11/cam-nang-dtcl-cach-de-nang-cap-jhin-len-4-sao-trong-mua-10-2.jpg"/>
</body>
</html>